name: Xygeni Scan

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  xygeni-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Xygeni Scan (baseline - never fail)
        uses: xygeni/xygeni-action@v5
        with:
          token: ${{ secrets.XYGENI_TOKEN }}
          command: scan --fail-on=critical
